
.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  /*.nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }*/

  .navbar-logo {
    height: 100px;
  }

  .containerPrincipal__bannerPrincipal {
    width: 100%;
  }
  
  .containerPrincipal__arabescoDireito,
  .containerPrincipal__arabescoEsquerdo {
    width: 120px;
    height: 100px;
    left: 0px;
    position: relative;
  }

  .containerPrincipal__h1 {
    left: 15%;
    top: 400px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Wizard World;
    line-height: 50px;
  }

  .containerPrincipal__logoCentral {
    width: 200px;
    height: 90px;
    left: 25%;
    top: 450px;
    position: absolute;
  }

  .categorias {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

    /* Filmes */

  .categoriaFilmes,
  .categoriaLivros,
  .categoriaPersonagens {
    width: 410px;
    height: 402px;
    top: 120px;
  }

  .categoriaFilmes__title,
  .categoriaLivros__title,
  .categoriaLivros__title,
  .categoriaPersonagens__title {
    left: 10px;
    margin-bottom: 0px;
  }

  .categoriaFilmes__descritivo,
  .categoriaPersonagens__descritivo,
  .categoriaLivros__descritivo {
    width: 380px;
    left: 15px;
    top: 100px;
  }

  .categoriaFilmes__img,
  .categoriaLivros__img,
  .categoriaPersonagens__img{
    display: none;
  }

  .boxCasas{
    padding-top: 30px;
  }
  .boxCasas>div {
    width: 400px;
    height: 300px;
  }

  .grifinoria__descritivo,
  .sonserina__descritivo,
  .corvinal__descritivo,
  .lufalufa__descritivo {
    width: 340px;
    left: 10px;
    top: 75px;
    text-align: justify;
  }

  .grifinoria__title,
  .sonserina__title,
  .lufalufa__titl,
  .corvinal__title {
    left: 10px;
    top: 20px;
    position: absolute;
    text-align: left;
  }

  .grifinoria__membros,
  .sonserina__membros,
  .lufa-lufa__membros,
  .corvinal__membros {
    width: 340px;
    left: 10px;
    top: 230px;
  }
  .boxCasas__img,
  .subCategorias,
  .navBarFooter__nav{
    display: none;
  }

}

@media screen and (min-width: 1600px) {
  .container-fluid{
    justify-content: center !important;
  }

  .containerPrincipal {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
  
  }

  .containerPrincipal__bannerPrincipal{
    width: 100%;
  }

  .containerPrincipal__arabescoDireito {
    left: 0px;
  }

  .containerPrincipal__h1 {
    justify-content: center;
    top: 120%;
    display: flex;
    padding-left: 60px;
  }

  .containerPrincipal__logoCentral{
    top: 1200px;
    display: flex;
    padding-left: 60px;
  }

  .casasHogwarts{
    display: flex;
    padding-left:8%;
  }
  
  /* box com grid*/
  .boxCasas {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }

  .boxCasas__img{
    justify-content: center;
  }

  .boxCasas-imgbox{
    width: 100%;
  }

  .subCategorias{
    display: grid;
    position: absolute;
    left: 7%;
    top:3410px;
    justify-content: center;
  }

  }
  .subCategorias__comunidade,
  .subCategorias__lojas,
  .subCategorias__restaurantes {
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
  }

}