@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.body {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 0px; 
}

/* Sessão do MENU */

.navbar-nav {
  list-style: none;
  padding: 30px;
  color: white;
  display: flex;
  gap: 5px;
  margin-left: 50px;
}

.navbar-logo {
  height: 110px;
  padding: 20px 50px;
}

.navbar-nav li:first-child {
  border-bottom: 2px white solid;
}

.nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-family: DM sans;
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px !important;
}

.nav-item .nav-link:hover {
  color: #917a50;
}

.nav-item {
  margin: 0 15px;
}
.nav-item a {
  color: white;
  font-family: DM Sans;
  font-size: 18px;
  justify-content: center;
}

.nav-item a:hover {
  color: gray;
}

/*
.nav-list {
  display: flex;
  align-items: center;
}


.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 40px;
}

/* -- Header antigo
.header {
  width: 1440px;
  left: 49px;
  top: 31px;
  background-color: black;
  display: flex;
}

.header__logo {
  width: 270px;
  height: 115px;
  padding: 30px 10px 20px 50px;
}

*/

/*
header nav {
  display: flex;
}


.header__nav-list {
  list-style: none;
  gap: 50px;
  display: flex;
  font-family: DM Sans;
  font-size: 18px;
  color: white;
  justify-content: center;
  line-height: 30px;
  padding-top: 45px;
}

.header__nav-list a {
  text-decoration: none;
  color: white;
}

.header__nav-list li:first-child {
  border-bottom: 2px white solid;
}
--------- */

.containerPrincipal {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-between;

}

.containerPrincipal__bannerPrincipal {
  width: auto;
  flex-direction: row;
  justify-content: center;
}

.containerPrincipal__arabescoDireito {
  width: 460px;
  height: 433px;
  position: relative;
}

.containerPrincipal__arabescoEsquerdo {
  width: 460px;
  height: 433px;
  left: 0px;
  position: relative;
}

.containerPrincipal__h1 {
  left: 330px;
  top: 990px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
}

.containerPrincipal__logoCentral {
  width: 488px;
  height: 161px;
  left: 476px;
  top: 1060px;
  position: absolute;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  transition: all 3s;
}

.containerPrincipal__logoCentral:hover {
  height: 180px;
  width: 600px;
  justify-content: center;
  left: 450px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --Sessão das Categorias Filmes, Livros e Personagens */

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*padding-left: 100px;*/
  justify-content: center;
  gap: 20px;
}

.categorias a {
  text-decoration: none;
  color: white;
}

.categorias a:hover {
  color: #917a50;

}

/* Filmes */

.categoriaFilmes {
  grid-area: filmes;
  width: 1229px;
  height: 402px;
  /*left: 120px;
  top: 1275px;
  position: absolute;*/
  position: relative;
  background: rgba(217, 217, 217, 0.08);
}

.categoriaFilmes__img {
  width: 530px;
  height: 300px;
  left: 746px;
  top: 51px;
  position: absolute;
}

.categoriaFilmes__title {
  left: 70px;
  top: 40px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.categoriaFilmes__descritivo {
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  width: 656px;
  left: 70px;
  top: 129px;
  position: absolute;
  text-align: justify;
}

/* Livros */

.categoriaLivros {
  width: 1229px;
  height: 402px;
  /*left: 120px;
  top: 1710px;
  position: absolute;*/
  position: relative;
  background: rgba(217, 217, 217, 0.08);
  grid-area: livros;
}

.categoriaLivros__img {
  width: 530px;
  height: 300px;
  left: -22px;
  top: 51px;
  position: absolute;
}

.categoriaLivros__title {
  left: 1060px;
  top: 20px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.categoriaLivros__descritivo {
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  width: 640px;
  left: 547px;
  top: 107px;
  position: absolute;
  text-align: justify;
}

/* Personagens */

.categoriaPersonagens {
  grid-area: personagens;
  width: 1229px;
  height: 402px;
  /*left: 120px;
  top: 2145px;
  position: absolute;*/
  position: relative;
  background: rgba(217, 217, 217, 0.08);
}

.categoriaPersonagens__img {
  width: 538px;
  height: 300px;
  left: 711px;
  top: 51px;
  position: absolute;
}

.categoriaPersonagens__title {
  left: 55px;
  top: 50px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.categoriaPersonagens__descritivo {
  width: 640px;
  left: 55px;
  top: 132px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  text-align: justify;
}

/* --Sessão das Casas de Hogwarts */

.casasHogwarts {
  display: flex;
  color: white;
  font-family: Wizard World;
  font-size: 35px;
  font-weight: 400;
  line-height: 43px;
  padding: 30px 0px 20px 40%;
}

/* box com grid
.boxCasas {
  display: grid;
  grid-template-columns: 594px 594px;
  grid-template-rows: repeat(2, 275px);
  text-align: center;
  justify-content: center;
  gap: 10px;
  grid-template-areas:
    "grifinoria sonserina "
    "lufalufa corvinal";
}*/

/* box com display flex */

.boxCasas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.boxCasas>div {
  width: 594px;
  height: 275px;
}

.boxCasas-imgbox{
  display: flex;
  width: 100%;
  justify-content: center;
}

.boxCasas__img {
  position: relative;
  width: 599px;
  height: 417px;
  top: -486px;
}

/*
.boxCasas {
  width: 1440px;
  height: 600px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}*/

.grifinoria {
  grid-area: grifinoria;
  background: #7474742e;
  position: relative;
  text-align: left;
}

.grifinoria__title {
  left: 22px;
  top: 20px;
  position: absolute;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.grifinoria__title:hover {
  font-size: 45px;
}

.grifinoria__descritivo {
  width: 478px;
  left: 22px;
  top: 75px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

.grifinoria__membros {
  width: 478px;
  left: 24px;
  top: 200px;
  position: absolute;
  color: white;
  font-size: 15px;
  line-height: 19px;
  font-family: DM Sans;
}

.sonserina {
  grid-area: sonserina;
  background: #7474742e;
  position: relative;
}

.sonserina__title {
  left: 400px;
  top: 20px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.sonserina__title:hover {
  font-size: 45px;
  left: 350px;
}

.sonserina__descritivo {
  width: 443px;
  left: 130px;
  top: 75px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 22px;
}

.sonserina__membros {
  width: 478px;
  left: 95px;
  top: 200px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.corvinal {
  grid-area: corvinal;
  background: #7474742e;
  position: relative;
}

.corvinal__title {
  left: 400px;
  top: 20px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.corvinal__title:hover {
  font-size: 45px;
  left: 350px;
}

.corvinal__descritivo {
  width: 379px;
  left: 190px;
  top: 75px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  line-height: 22px;

}

.corvinal__membros {
  width: 478px;
  left: 90px;
  top: 200px;
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: DM Sans;
  font-weight: 400;
  word-wrap: break-word;
  position: absolute;
}

.lufalufa {
  grid-area: lufalufa;
  background: #7474742e;
  position: relative;
  text-align: left;
}

.lufalufa__title {
  left: 22px;
  top: 20px;
  position: absolute;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.lufalufa__title:hover {
  font-size: 45px;
}

.lufalufa__descritivo {
  width: 462px;
  left: 22px;
  top: 75px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 22px;

}

.lufalufa__principaisMembros {
  width: 478px;
  left: 22px;
  top: 200px;
  position: absolute;
  color: white;
  font-size: 15px;
  font-family: DM Sans;
  font-weight: 400;
}

/* --Sessão das Subcategorias Comunidades, Loja e Restaurantes */

.subCategorias {
  display: grid;
  width: 700px;
  height: 460px;
  color: white;
  font-size: 25px;
  font-family: Wizard World;
  letter-spacing: 3px;
  top: 3285px;
  position: absolute;
}
.subCategorias div{
  display: grid;
  grid-template-areas:
    "restaurantes lojas comunidade";
  grid-template-columns: auto;
  justify-content: center;
}

.subCategorias a{
    text-decoration: none;
    color: white;
}

.subCategorias__comunidade {
  width: 349px;
  height: 446px;
  left: 748px;
  top: 0px;
  position: absolute;
  grid-area: comunidade;
}

.subCategorias__comunidade-title {
  width: 284px;
  left: 32px;
  top: 390px;
  position: absolute;
  background: linear-gradient(90deg, #6d6766 0%, #090712 100%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subCategorias__comunidade-title:hover {
  background: linear-gradient(90deg, #ecebeb 0%, #646368 100%);
}

.subCategorias__lojas {
  width: 349px;
  height: 446px;
  left: 374px;
  top: 0px;
  position: absolute;
  grid-area: lojas;
}

.subCategorias__lojas--title {
  width: 284px;
  left: 32px;
  top: 390px;
  position: absolute;
  background: linear-gradient(90deg, #6d6766 0%, #090712 100%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subCategorias__lojas--title:hover {
  background: linear-gradient(90deg, #ecebeb 0%, #646368 100%);
}

.subCategorias__restaurantes {
  width: 349px;
  height: 446px;
  left: 0px;
  top: 0px;
  position: absolute;
  grid-area: restaurantes;
}

.subCategorias__restaurantes--title {
  width: 284px;
  left: 32px;
  top: 390px;
  position: absolute;
  background: linear-gradient(90deg, #6d6766 0%, #090712 100%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subCategorias__restaurantes--title:hover {
  background: linear-gradient(90deg, #ecebeb 0%, #646368 100%);
}

.navBarFooter {
  width: 1350px;
  left: 0px;
  top: 3840px;
  position: absolute;
  background-color: black;
}

.navBarFooter__logo {
  width: 149px;
  height: 49px;
  left: 96px;
  top: 0px;
  position: absolute;
}


.navBarFooter__nav {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22.5px;
  padding-top: 30px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  list-style: none;
  display: flex;
}

.navBarFooter__nav a {
  text-decoration: none;
  color: white;
}

.navBarFooter__nav a:hover {
  color: gray;
}

.hr {
  justify-content: center;
  margin-top: 20px;
  background: white;
  height: 2px;
  opacity: unset;
  margin: 1px 10%;
}

.navBarFooter__copyright {
  background: black;
  margin-top: 30px;
  margin-bottom: 20px;
}

.navBarFooter__copyright p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  font-family: DM Sans;
  padding-top: 10px;
}

