/* Quando uso o !important é porque quero sobreescrever algo do bootstrap */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.body {
  background-color: black;
}

/* Sessão do MENU */

.navbar-brand {
  height: 70px;
  padding: 20px 50px;
}

.navbar-nav {
  gap: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px !important;
}

.navbar-nav li:first-child {
  border-bottom: 2px white solid;
}

.nav-item .nav-link:hover {
  color: #917a50;
}

.nav-item a {
  color: white;
  font-family: DM Sans;
  font-size: 18px;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 5px;
  list-style: none;
  margin: 5px;
  color: white;
}

.containerPrincipal {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-between;
}

.containerPrincipal__bannerPrincipal {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.containerPrincipal__arabescoDireito {
  width: 460px;
  height: 433px;
  position: relative;
}

.containerPrincipal__arabescoEsquerdo {
  width: 460px;
  height: 433px;
  left: 0px;
  position: relative;
}

.logoCentral {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  top: -176px;
  position: relative;
}

.logoCentral__h1 {
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
}

.logoCentral__img {
  width: 488px;
  height: 161px;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  transition: all 3s;
}

.logoCentral__img:hover {
  height: 180px;
  width: 600px;
  justify-content: center;
  left: 450px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --Sessão das Categorias Filmes, Livros e Personagens */

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*padding-left: 100px;*/
  justify-content: center;
  gap: 20px;
}

.categorias a {
  text-decoration: none;
  color: white;
}

.categorias a:hover {
  color: #917a50;
}

/* Filmes */

.categoriaFilmes {
  grid-area: filmes;
  width: 1229px;
  height: 402px;
  /*left: 120px;
  top: 1275px;
  position: absolute;*/
  position: relative;
  background: rgba(217, 217, 217, 0.08);
}

.categoriaFilmes__img {
  width: 530px;
  height: 300px;
  left: 746px;
  top: 51px;
  position: absolute;
}

.categoriaFilmes__title {
  left: 70px;
  top: 40px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.categoriaFilmes__descritivo {
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  width: 656px;
  left: 70px;
  top: 129px;
  position: absolute;
  text-align: justify;
}

/* Livros */

.categoriaLivros {
  width: 1229px;
  height: 402px;
  /*left: 120px;
  top: 1710px;
  position: absolute;*/
  position: relative;
  background: rgba(217, 217, 217, 0.08);
  grid-area: livros;
}

.categoriaLivros__img {
  width: 530px;
  height: 300px;
  left: -22px;
  top: 51px;
  position: absolute;
}

.categoriaLivros__title {
  left: 1060px;
  top: 20px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.categoriaLivros__descritivo {
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  width: 640px;
  left: 547px;
  top: 107px;
  position: absolute;
  text-align: justify;
}

/* Personagens */

.categoriaPersonagens {
  grid-area: personagens;
  width: 1229px;
  height: 402px;
  /*left: 120px;
  top: 2145px;
  position: absolute;*/
  position: relative;
  background: rgba(217, 217, 217, 0.08);
}

.categoriaPersonagens__img {
  width: 538px;
  height: 300px;
  left: 711px;
  top: 51px;
  position: absolute;
}

.categoriaPersonagens__title {
  left: 55px;
  top: 50px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Wizard World;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.categoriaPersonagens__descritivo {
  width: 640px;
  left: 55px;
  top: 132px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  text-align: justify;
}

/* --Sessão das Casas de Hogwarts */

.casasHogwarts {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: Wizard World;
  font-size: 35px;
  font-weight: 400;
  line-height: 43px;
  padding: 30px 0px 20px 0px;
}

/* box com display flex */

.boxCasas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.boxCasas > div {
  width: 40%;
  height: 275px;
}

.boxCasas-imgbox {
  display: flex;
  width: 100%;
  justify-content: center;
}

.boxCasas__img {
  position: relative;
  width: 590px;
  height: 410px;
  top: -489px;
}

.grifinoria {
  grid-area: grifinoria;
  background: #7474742e;
  position: relative;
  text-align: left;
}

.grifinoria__title {
  left: 22px;
  top: 20px;
  position: absolute;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.grifinoria__title:hover {
  font-size: 45px;
}

.grifinoria__descritivo {
  width: 70%;
  left: 22px;
  top: 75px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

.grifinoria__membros {
  width: 478px;
  left: 24px;
  top: 200px;
  position: absolute;
  color: white;
  font-size: 15px;
  line-height: 19px;
  font-family: DM Sans;
}

.sonserina {
  grid-area: sonserina;
  background: #7474742e;
  position: relative;
}

.sonserina__title {
  right: 22px;
  top: 20px;
  position: relative;
  text-align: right;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.sonserina__title:hover {
  font-size: 45px;
  left: 350px;
}

.sonserina__descritivo {
  width: 67%;
  right: 22px;
  top: 75px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 22px;
}

.sonserina__membros {
  width: 478px;
  right: 22px;
  top: 200px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.corvinal {
  grid-area: corvinal;
  background: #7474742e;
  position: relative;
}

.corvinal__title {
  right: 22px;
  top: 20px;
  position: relative;
  text-align: right;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.corvinal__title:hover {
  font-size: 45px;
  left: 350px;
}

.corvinal__descritivo {
  width: 69%;
  right: 22px;
  top: 75px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
  line-height: 22px;
}

.corvinal__membros {
  width: 478px;
  right: 22px;
  top: 200px;
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: DM Sans;
  font-weight: 400;
  word-wrap: break-word;
  position: absolute;
}

.lufalufa {
  grid-area: lufalufa;
  background: #7474742e;
  position: relative;
  text-align: left;
}

.lufalufa__title {
  left: 22px;
  top: 20px;
  position: absolute;
  color: white;
  font-size: 35px;
  font-family: Wizard World;
  font-weight: 400;
  word-wrap: break-word;
}

.lufalufa__title:hover {
  font-size: 45px;
}

.lufalufa__descritivo {
  width: 63%;
  left: 22px;
  top: 75px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 22px;
}

.lufalufa__membros {
  width: 478px;
  left: 22px;
  top: 200px;
  position: absolute;
  color: white;
  font-size: 15px;
  font-family: DM Sans;
  font-weight: 400;
}

/* --Sessão das Subcategorias Comunidades, Loja e Restaurantes */
/*
.subCategorias {
  display: grid;
  width: 600px;
  justify-content: space-around;
  height: 460px;
  color: white;
  font-size: 25px;
  font-family: Wizard World;
  letter-spacing: 3px;
  top: 3285px;
  position: absolute;
}

.subCategorias div{
  display: grid;
  grid-template-areas:
    "restaurantes lojas comunidade";
  grid-template-columns: auto;
  justify-content: center;
}
*/

.subCategorias {
  display: flex;
  justify-content: space-evenly;
  /*width: 600px;*/
  height: 460px;
  color: white;
  font-size: 25px;
  font-family: Wizard World;
  letter-spacing: 3px;
  top: -350px;
  flex-direction: row;
  position: relative;
}

.subCategorias a {
  text-decoration: none;
  color: white;
}

.subCategorias__comunidade {
  width: 349px;
  height: 446px;
  /*left: 748px;*/
  top: 0px;
  position: relative;
  /*grid-area: comunidade;*/
}

.subCategorias__comunidade-title {
  width: 284px;
  left: 32px;
  top: 390px;
  position: absolute;
  background: linear-gradient(90deg, #6d6766 0%, #090712 100%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subCategorias__comunidade-title:hover {
  background: linear-gradient(90deg, #ecebeb 0%, #646368 100%);
}

.subCategorias__lojas {
  width: 349px;
  height: 446px;
  /*left: 374px;*/
  top: 0px;
  position: relative;
  /*grid-area: lojas;*/
}

.subCategorias__lojas--title {
  width: 284px;
  left: 32px;
  top: 390px;
  position: absolute;
  background: linear-gradient(90deg, #6d6766 0%, #090712 100%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subCategorias__lojas--title:hover {
  background: linear-gradient(90deg, #ecebeb 0%, #646368 100%);
}

.subCategorias__restaurantes {
  width: 349px;
  height: 446px;
  left: 0px;
  top: 0px;
  position: relative;
  grid-area: restaurantes;
}

.subCategorias__restaurantes--title {
  width: 284px;
  left: 32px;
  top: 390px;
  position: absolute;
  background: linear-gradient(90deg, #6d6766 0%, #090712 100%);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subCategorias__restaurantes--title:hover {
  background: linear-gradient(90deg, #ecebeb 0%, #646368 100%);
}

.navBarFooter {
  /*width: 1350px;
  left: 7%;*/
  top: -300px;
  position: relative;
  background-color: black;
}

.navBarFooter__logo {
  width: 149px;
  height: 49px;
  left: 96px;
  top: 0px;
  position: absolute;
}

.navBarFooter__nav {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22.5px;
  padding-top: 30px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  list-style: none;
  display: flex;
}

.navBarFooter__nav a {
  text-decoration: none;
  color: white;
}

.navBarFooter__nav a:hover {
  color: #917a50;
}

.hr {
  justify-content: center;
  margin-top: 20px;
  background: white;
  height: 2px;
  opacity: unset;
  margin: 1px 10%;
}

.navBarFooter__copyright {
  background: black;
  margin-top: 30px;
  margin-bottom: 20px;
}
.navBarFooter__copyright p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  font-family: DM Sans;
  padding-top: 10px;
}

/* -- Menu Social --*/

.social-container{
  display: flex;
}

.social-icons {
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: flex-end;
  padding-right: 5%;
}

*, ::after, ::before {
  box-sizing: content-box !important;
}


.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #1E293B;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #1E293B;
  color: white;
}

/* Github */
.fa-github {
  background: #1E293B;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #1E293B;
  color: white;
}
